bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
node_modules/
.configure.bazelrc
.user.bazelrc
.cache/
build/
input/*.mp4
input/*.mkv
output/*.csv
output/*.mp4
.bash_history